<div data-controller="search-form" class="search-bar-container">
  <%= form_with url: search_path, method: :get, class: "search-form", data: { action: "input->search-form#input" } do %>
    <%= text_field :query,
      params[:query],
      data: { "search-form-target": "input" },
      class: "form-control",
      placeholder: "Search..."
    %>
    <ul data-search-form-target="dropdown" class="search-dropdown">
    </ul>
  <% end %>
</div>
