<div data-controller="user-pledges-modal">
  <div class="user-pledges-button" data-action="click->user-pledges-modal#toggleModal"></div>
  <div class="user-pledges-modal" data-user-pledges-modal-target="pledgesModal">
    <div class="user-pledges-modal-content">
      <div class="user-pledge-title-close">
        <h3 class="user-pledge-title">Pledges</h3>
        <span class="user-pledge-close" data-action="click->pledge-modal#toggleOuterModal">&times;</span>
      </div>
    </div>
  </div>
</div>
