<div data-controller="user-reviews-modal">
  <div class="user-reviews-button" data-action="click->user-reviews-modal#toggleModal"></div>
  <div class="user-reviews-modal" data-user-reviews-modal-target="reviewsModal">
    <div class="user-reviews-modal-content">
      <div class="user-review-title-close">
        <h3 class="user-review-title">Reviews</h3>
        <span class="user-review-close" data-action="click->review-modal#toggleOuterModal">&times;</span>
      </div>
    </div>
  </div>
</div>
