// Define colors
$error: rgb(235, 0, 0);
$green: rgb(0, 166, 147);
$green-75: rgba(0, 166, 147, 0.75);
$green-50: rgba(0, 166, 147, 0.50);
$green-25: rgba(0, 166, 147, 0.25);
$black: rgb(0, 0, 0);
$dark-gray: rgb(80, 80, 80);
$medium-gray: rgb(150, 150, 150);
$light-gray: rgb(217, 217, 217);
$background-gray: rgb(237, 237, 237);
$white: rgb(249, 249, 249);
$white-2: rgb(255, 255, 255);
$dark-red: rgb(139, 0, 0);
