.discover-page {
  background-color: $black;
  min-height: 100vh;
  position: relative;
}

.discover-page-container {
  width: 90%;
  margin: 0 auto;
}

.discover-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.discover-title {
  font-family: $main-header-font;
  font-size: 48px;
  font-weight: 600;
  color: $white;
  margin: 0px;
}

.filter-form-with {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-form-group {
  display: contents;
}

.filter-label-spacer {
  margin: 0px 10px;
}

.filter-form-label {
  color: $white;
  font-size: 20px;
  font-family: $sub-header-font;
  display: contents;
  font-weight: 500;
}

.filter-form-button {
  cursor: pointer;
  font-family: $body-font;
  font-size: 18px;
  color: $black;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 20px;
  padding: 10px 40px 10px 20px;
  background-image: url("icons/filter-black.svg");
  background-position: 60px 1px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  margin-left: 20px;
}

.filter-form-button:hover {
  color: $green;
  background-color: $white;
  background-image: url("icons/filter-green.svg");
  background-position: 60px 1px;
  background-size: 20px;
  border: 2px solid $green;
}

.video-card-container-discover {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0px 100px 0px;
}

.filter-no-videos {
  font-family: $body-font;
  font-size: 24px;
  color: $light-gray;
}

.pagy-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}

.pagy-nav a {
  font-family: $body-font;
  color: $black;
  background-color: $white;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid $green;
  border-radius: 5px;
  margin: 0 5px;
}
