.landing-container {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  background-color: $black;
}

.slogan {
  font-family: $main-header-font;
  font-size: 72px;
  font-weight: 700;
  color: $white;
  margin-left: 60px;
  margin-bottom: 0;
  text-align: center;
}

.slogan::after {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('icons/star-slogan-green.svg');
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.landing-discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px -142px 20px 0px;
}

.discover-button-landing {
  font-family: $body-font;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: $white;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 50px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  background-color: $green;
  background-image: url("icons/discover-icon-white.svg");
  background-position: 105px center;
  background-size: 35px;
  padding: 20px 70px 20px 35px;
  border: 2px solid $green;
  margin-right: 142px;
}

.discover-button-landing:hover {
  color: $black;
  background-color: $white;
  background-image: url("icons/discover-icon-black.svg");
  background-position: 105px center;
  background-size: 35px;
  padding: 20px 70x 20px 35px;
}

.trending {
  font-family: $sub-header-font;
  font-size: 48px;
  font-weight: 400;
  color: $white;
  margin: 0px 0px 0px 60px;
}

.popular {
  font-family: $sub-header-font;
  font-size: 48px;
  font-weight: 400;
  color: $white;
  margin: 0px 0px 0px 60px;
}

.recently-added {
  font-family: $sub-header-font;
  font-size: 48px;
  font-weight: 400;
  color: $white;
  margin: 0px 0px 0px 60px;
}

.particle-container {
  height: 100%;
}

// Media queries

@media (max-width: 1000px) {
  .slogan {
    font-size: 48px;
  }

  .trending {
    font-size: 32px;
  }

  .popular {
    font-size: 32px;
  }

  .recently-added {
    font-size: 32px;
  }
}
