.followings-container {
  position: relative;
  margin-top: 30px;
}

.video-card-container-followings {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0px 0px 20px 20px;
  padding: 10px 10px 20px 0px;
  gap: 20px;
}

.following-row {
  display: flex;
  align-items: flex-start;
}

.no-followings-position {
  margin-top: 120px;
}

.no-followings-message {
  font-family: $body-font;
  font-size: 24px;
  color: $light-gray;
}

.no-followings-message a {
  color: $green-75;
  text-decoration: none;
  transition: all 0.25s ease;
  line-height: 24px;
}

.no-followings-message a:hover {
  font-size: 26px;
  line-height: 24px;
}
