.user-profile-container {
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
  background-color: $black;
}

.user-profile-banner {
  display: flex;
  width: 90%;
  height: 200px;
  margin: 40px auto 5px auto;
  background-image: linear-gradient(to bottom, $green, $black);
  border-radius: 50px;
}

.user-profile-pledges-reviews-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 6.5%;
  z-index: 1;
  margin: 20px;
  gap: 20px;
}

.user-profile-settings-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url('icons/user-profile-settings-white.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s ease;
}

.user-profile-settings-icon:hover {
  background-image: url('icons/user-profile-settings-white-focus.svg');
}

.user-profile-avatar img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 6px solid $white;
  background-color: $white;
  margin-top: 50%;
  margin-left: 40%;
}

.name-title-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.username-title,
.user-full-name {
  font-family: $main-header-font;
  color: $white;
  margin-left: 32%;
  margin-top: 0px;
  margin-bottom: 5px;
}

.username-title {
  font-size: 42px;
}

.user-full-name {
  font-size: 32px;
}

.user-title-toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 60px 80px 20px 80px;
}

#user-profile-purchases,
#user-profile-followings,
#user-profile-bookmarks {
  cursor: pointer;
  font-family: $sub-header-font;
  font-size: 32px;
  color: $white;
  margin-bottom: 20px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-origin: content-box;
  font-weight: 500;
}

.user-title-purchases {
  background-image: url("icons/user-title-purchases-white.svg");
  background-position: -80px center;
  background-size: 60px;
  padding-left: 80px;
}

.purchases-focus {
  background-image: url("icons/user-title-purchases-white-focus.svg");
  background-position: -80px center;
  background-size: 60px;
  padding-left: 80px;
}

.user-title-followings {
  background-image: url("icons/user-title-followings-white.svg");
  background-position: -90px center;
  background-size: 60px;
  padding-left: 90px;
}

.followings-focus {
  background-image: url("icons/user-title-followings-white-focus.svg");
  background-position: -90px center;
  background-size: 60px;
  padding-left: 90px;
}

.user-title-bookmarks {
  background-image: url("icons/bookmark-white.svg");
  background-position: -70px center;
  background-size: 36px;
  padding: 10px 0px 10px 70px;
}

.bookmarks-focus {
  background-image: url("icons/bookmark-white-focus.svg");
  background-position: -70px center;
  background-size: 36px;
  padding: 10px 0px 10px 70px;
}
