.video-page-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: $black;
}

.left-section-video {
  flex: 1;
}

.right-section-video {
  flex: 1;
}

.video-page-title {
  font-family: $sub-header-font;
  font-size: 40px;
  font-weight: 700;
  color: $white;
  margin: 0px auto 0px 60px;
}

.video-page-top-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.video-page-top-info-2 {
  display: flex;
  align-items: center;
  margin-left: 60px;
  gap: 20px;
}

.video-page-rating,
.video-page-reviews  {
  font-family: $body-font;
  font-size: 18px;
  color: $white;
}

.stars-white::before {
  content: url('icons/star-rating-white.svg');
  display: inline-block;
  vertical-align: middle;
}

.stars-white {
  width: 100%;
}

.video-page-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid $white;
  margin-right: 20px;
}

.video-page-bottom-info {
  margin: 20px 20px 20px 60px;
}

.video-page-bottom-info h3 {
  font-family: $sub-header-font;
  font-size: 24px;
  font-weight: 700;
  color: $white;
  margin-bottom: 10px;
}

.video-description,
.video-learn,
.video-includes,
.video-requirements {
  font-family: $body-font;
  font-size: 18px;
  color: $white;
}

.open-reviews-button {
  cursor: pointer;
  font-family: $body-font;
  font-size: 18px;
  color: $black;
  background-color: $white;
  border: 2px solid $black;
  border-radius: 20px;
  padding: 10px 40px 10px 20px;
  margin-top: 40px;
  background-image: url("icons/review-book-black.svg");
  background-position: 68px 1px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
  margin-left: 60px;
}

.open-reviews-button:hover {
  color: $green;
  background-color: $white;
  background-image: url("icons/review-book-green.svg");
  background-position: 68px 1px;
  background-size: 20px;
  border: 2px solid $green;
}
