.video-page-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  background-color: $black;
}

.left-section-video {
  flex: 1;
}

.video-page-top-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.video-page-creator-username {
  font-family: $body-font;
  font-size: 18px;
  color: $white;
}

.video-page-top-info a {
  text-decoration: none;
}

.video-page-creator-username:hover {
  text-decoration: underline;
}

.video-page-follow-bookmark {
  display: flex;
  gap: 10px;
}

.video-player-background {
  width: 80%;
  height: 50%;
  background-color: $dark-gray;
  border-radius: 20px;
  margin: 40px auto;
}

.review-purchase-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 40px auto;
}

.video-purchase-button {
  cursor: pointer;
  font-family: $body-font;
  font-size: 18px;
  color: $white;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 20px;
  padding: 10px 50px 10px 20px;
  margin-top: 40px;
  background-image: url("icons/purchase-cart-white.svg");
  background-position: 215px center;
  background-size: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

.video-purchase-button:hover {
  color: $black;
  background-color: $white;
  background-image: url("icons/purchase-cart-black.svg");
  background-position: 215px center;
  background-size: 20px;
}

.middle-vertical-line {
  width: 1px;
  height: 90vh;
  margin-top: 20px;
  background-color: $white;
}

.right-section-video {
  flex: 1;
}

.video-page-title-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.video-page-title {
  font-family: $sub-header-font;
  font-size: 40px;
  font-weight: 700;
  color: $white;
  margin: 0px auto 0px 60px;
}

.video-page-top-info-2 {
  display: flex;
  align-items: center;
  margin-left: 60px;
  gap: 20px;
}

.video-page-rating,
.video-page-reviews,
.video-page-views  {
  font-family: $body-font;
  font-size: 18px;
  color: $white;
}

.stars-white::before {
  content: url('icons/star-rating-white.svg');
  display: inline-block;
  vertical-align: middle;
}

.stars-white {
  width: 100%;
}

.video-page-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid $white;
  margin-right: 20px;
}

.video-page-bottom-info {
  margin: 20px 20px 20px 60px;
}

.video-page-bottom-info h3 {
  font-family: $sub-header-font;
  font-size: 24px;
  font-weight: 700;
  color: $white;
  margin-bottom: 10px;
}

.video-description,
.video-learn,
.video-includes,
.video-requirements {
  font-family: $body-font;
  font-size: 18px;
  color: $white;
}
