.video-page-container {
  min-height: 100vh;
  position: relative;
}

.left-section-video {
  width: 50%;
}

.right-section-video {
  width: 50%;
}

.video-page-title {
  font-family: $sub-header-font;
  font-size: 40px;
  font-weight: 700;
  color: $black;
  margin: 0px auto 0px 60px;
}

.video-page-top-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.video-page-top-info-2 {
  display: flex;
  align-items: center;
  margin-left: 60px;
  gap: 20px;
}

.video-page-rating,
.video-page-reviews  {
  font-family: $body-font;
  font-size: 18px;
  color: $black;
}

.video-page-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid $black;
}

.video-page-bottom-info {
  margin: 20px 20px 20px 60px;
}

.video-page-bottom-info h3 {
  font-family: $sub-header-font;
  font-size: 24px;
  font-weight: 700;
  color: $black;
  margin-bottom: 10px;
}

.video-description,
.video-learn,
.video-includes,
.video-requirements {
  font-family: $body-font;
  font-size: 18px;
  color: $black;
}

.video-review-section {
  margin: 0px 20px 20px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-review-title-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

.leave-review-button {
  cursor: pointer;
  font-family: $body-font;
  font-size: 18px;
  color: $white;
  background-color: $black;
  border: 1px solid $black;
  border-radius: 20px;
  padding: 10px 40px 10px 20px;
  margin-top: 40px;
  background-image: url("icons/leave-review-pen-white.svg");
  background-position: 115px center;
  background-size: 16px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

.leave-review-button:hover {
  color: $green;
  background-color: $white;
  background-image: url("icons/leave-review-pen-green.svg");
  background-position: 115px center;
  background-size: 16px;
}

.video-review-title {
  font-family: $sub-header-font;
  font-size: 24px;
  font-weight: 700;
  color: $black;
  margin: 40px 0px 0px 60px;
}

.video-review {
  border: 1px solid $light-gray;
  border-radius: 20px;
  margin-top: 20px;
}

.video-review-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-review-username-date {
  display: flex;
  flex-direction: column;
}

.video-review-avatar {
  padding: 5px;
}

.video-review-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid $light-gray;
}

.video-review-username,
.video-review-rating,
.video-review-content {
  font-family: $body-font;
  font-size: 18px;
  color: $black;
  padding: 5px;
}

.video-review-date {
  font-family: $body-font;
  font-size: 14px;
  color: $dark-gray;
  padding: 5px;
}

.video-review-content {
  padding-bottom: 10px;
}

.video-review-rating-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show-more-button {
  cursor: pointer;
  font-family: $body-font;
  font-size: 18px;
  color: $white;
  background-color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  padding: 10px 35px 10px 20px;
  margin-top: 20px;
  background-image: url("icons/show-more-arrow-white.svg");
  background-position: 115px 4px;
  background-size: 12px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}

.show-more-button:hover {
  color: $black;
  background-color: $white;
  background-image: url("icons/show-more-arrow-black.svg");
  background-position: 115px 4px;
  background-size: 12px;
}
