.menubar-container-forgot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 130px;
  border-bottom: 1px solid $green;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.3);
  background-color: $green;
}

.menubar-title-forgot {
  font-family: $main-header-font;
  font-size: 72px;
  font-weight: 700;
  color: $black;
  margin: 0;
}

.forgot-password-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  height: fit-content;
  width: 600px;
  background-color: $white;
  border-radius: 50px;
  padding: 40px;
  box-shadow: 4px 4px 2px 0px $black;
}

.forgot-form-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.forgot-form-field {
  background-color: $background-gray;
  height: 2rem;
  border-style: solid;
  border-color: $background-gray;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  font-family: $body-font;
  font-size: 1rem;
}

.forgot-form-field:focus {
  outline: 0;
}

.forgot-btn {
  background-color: $black;
  color: $white;
  height: 2rem;
  border-style: none;
  border-radius: 20px;
  width: 100%;
  font-family: $body-font;
  transition: all 0.25s;
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px rgba(155, 155, 155, 0.74);
  position: relative;
  font-size: 1rem;
}

.forgot-btn:hover {
  transform: scale(1.05);
}
