.user-reviews-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.user-reviews-modal-content {
  background-color: #fefefe;
  margin: 131px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 20px;
}

.user-reviews-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url("icons/user-reviews-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s ease;
}

.user-reviews-button:hover {
  transform: scale(1.2);
}

.user-review-section {
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-video-review-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.review-video-card {
  width: 260px;
  height: 200px;
  border-radius: 8px;
  border: 2px solid $dark-gray;
  box-shadow: 4px 4px 0px $green;
  background-color: $light-gray;
  transition: all 0.25s ease;
  margin-top: 20px;
}

.review-video-card:hover {
  box-shadow: 6px 6px 0px $green;
  transform: translateY(-2px);
}

.review-video-card a {
  text-decoration: none;
  color: $black;
}

.review-video-title,
.review-video-creator,
.review-video-rating {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
  margin-left: 10px;
  font-family: $body-font;
}

.review-video-title,
.review-video-creator {
  line-height: 1.1;
}

.review-video-creator,
.review-video-rating {
  font-size: 12px;
  opacity: 0.8;
}

.review-video-title {
  font-size: 14px;
}

.review-stars::before {
  content: url('icons/star-rating-review-navy.svg');
  display: inline-block;
  vertical-align: middle;
}

.review-stars {
  width: 100%;
}

.user-review-title-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-review-title {
  font-family: $sub-header-font;
  font-size: 32px;
  font-weight: 700;
  color: $black;
  margin: 0px;
}

.user-review-close {
  color: $dark-gray;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.user-review-close:hover,
.user-review-close:focus {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.user-review-user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.user-review-delete {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-image: url('icons/delete-review-bin-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.25s ease;
  margin-right: 20px;
  background-color: #fefefe;
  border: none;
}

.user-review-delete:hover {
  background-image: url('icons/delete-review-bin-red.svg');
}

.user-no-reviews-position {
  margin: 60px 0px;
}

.user-no-reviews-message {
  font-family: $body-font;
  font-size: 24px;
  color: $dark-gray;
}
